In [3]:
import pandas as pd
import dask.dataframe as dd

# Introdução

Para a análise dos microdados do Enem, serão utilizadas duas estratégias distintas:

- Estratégia 1: 

    variáveis desagregadas com o maior nível de detalhamento possível, com inferência dos pesos de cada variável explicativa na nota individual do aluno e utilizando as informações já disponíveis nos microdados do enem.
- Estratégia 2: 

    variáveis agregadas à nível de município, com adição de variáveis escolares a partir de base de dados de escolas (censo escolar, PBLE, etc.). Com isso, a análise será em nível macro, e pode-se associar ao investimento governamental associado.

## Estratégia 1

In [4]:
cols_dict = {
    'NU_ANO': int,
    'TP_COR_RACA':int,
    'TP_SEXO':'string',
    'TP_FAIXA_ETARIA':int,
    'TP_ESTADO_CIVIL':int,
    'TP_ST_CONCLUSAO':int,
    'TP_ESCOLA':int,
    'IN_TREINEIRO':int,
    'CO_MUNICIPIO_ESC':'Sparse[int]',
    'NO_MUNICIPIO_ESC':'string',
    'SG_UF_ESC':'string',
    'TP_DEPENDENCIA_ADM_ESC':int,
    'TP_LOCALIZACAO_ESC':int,
    'TP_SIT_FUNC_ESC':int,
    'Q001': 'object',
    'Q002': 'object',
    'Q003': 'object',
    'Q004': 'object',
    'Q005': 'object',
    'Q006': 'object',
    'Q007': 'object',
    'Q008': 'object',
    'Q009': 'object',
    'Q010': 'object',
    'Q012': 'object',
    'Q019': 'object',
    'Q022': 'object',
    'Q024': 'object',
    'Q025': 'object',
    'NU_NOTA_CN':'Sparse[float]',
    'NU_NOTA_CH':'Sparse[float]',
    'NU_NOTA_LC':'Sparse[float]',
    'NU_NOTA_MT':'Sparse[float]',
    'TP_STATUS_REDACAO':int,
    'NU_NOTA_COMP1':'Sparse[int]',
    'NU_NOTA_COMP2':'Sparse[int]',
    'NU_NOTA_COMP3':'Sparse[int]',
    'NU_NOTA_COMP4':'Sparse[int]',
    'NU_NOTA_COMP5':'Sparse[int]',
    'NU_NOTA_REDACAO':'Sparse[int]'
            }

In [5]:
# Using Dask to read the data
enem = dd.read_csv(
    '../../Dados/Enem/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv',
    usecols = cols_dict.keys(),
    sep = ';',
    header = 0,
    encoding='latin-1',
    dtype={'NO_MUNICIPIO_ESC': 'object',
       'SG_UF_ESC': 'object',
       'CO_MUNICIPIO_ESC': 'object'}
)

In [1]:
#enem.SG_UF_ESC.value_counts(normalize=True).compute()

NameError: name 'enem' is not defined

## Estratégia 2

Relação 

ENEM <--> CENSO ESCOLAR

In [6]:
enem.head()

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,...,Q006,Q007,Q008,Q009,Q010,Q012,Q019,Q022,Q024,Q025
0,2019,13,M,1,3,1,1,0,NaN,NaN,...,A,A,B,C,A,B,A,C,C,B
1,2019,8,M,1,1,1,1,0,NaN,NaN,...,C,A,B,C,A,B,B,E,A,B
2,2019,13,F,1,3,1,1,0,NaN,NaN,...,B,A,B,B,A,B,B,C,A,B
3,2019,10,F,1,1,1,1,0,NaN,NaN,...,E,A,C,C,A,B,C,D,B,B
4,2019,7,F,1,1,1,1,0,NaN,NaN,...,G,A,C,D,B,B,B,C,B,B

In [ ]:
def agg_enem(df):

In [10]:
grouped = enem.groupby(['NU_ANO','CO_MUNICIPIO_ESC'])

In [18]:
grouped.compute()

NotImplementedError: DataFrameGroupBy does not allow compute method.Please chain it with an aggregation method (like ``.mean()``) or get a specific group using ``.get_group()`` before calling ``compute()``

In [17]:
grouped.apply(lambda ser: ser.value_counts())

/tmp/ipykernel_32061/2383922759.py:1: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  grouped.apply(lambda ser: ser.value_counts())

Dask DataFrame Structure:
                    1
                    1
                  foo
                    1
                    1
                    1
                    1
                    1
                  foo
                  foo
                  foo
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  1.0
                  foo
                  foo
                  foo
                  foo
                    1
                  foo
                  foo
                  foo
                  foo
                  foo
                  foo
                  foo
                  foo
                  foo
                  foo
npartitions=71
                int64
                  ...
..                ...
                  ...
                  ...
Dask Name: lambda, 570 tasks

In [9]:
enem[['NU_ANO','CO_MUNICIPIO_ESC','TP_SEXO']].compute().groupby(['NU_ANO','CO_MUNICIPIO_ESC']).agg({'TP_SEXO':'value_counts(normalize=True)'})

AttributeError: 'SeriesGroupBy' object has no attribute 'value_counts(normalize=True)'

In [10]:
censo = dd.read_parquet('../../Resultados/Agg/microdados_censo-esc-0.parquet')

In [17]:
censo.head()

,NU_ANO_CENSO,SG_UF,CO_MUNICIPIO,TP_DEPENDENCIA,TP_LOCALIZACAO,TP_SITUACAO_FUNCIONAMENTO,IN_AGUA_POTAVEL,IN_ENERGIA_INEXISTENTE,IN_ESGOTO_INEXISTENTE,IN_AREA_VERDE,...,IN_INTERNET,IN_INTERNET_APRENDIZAGEM,IN_INTERNET_ADMINISTRATIVO,IN_INTERNET_COMUNIDADE,IN_ACESSO_INTERNET_COMPUTADOR,IN_ACES_INTERNET_DISP_PESSOAIS,IN_BANDA_LARGA,IN_EXAME_SELECAO,QT_DOC_MED,TP_REDE_LOCAL
0,2018,AC,1200013,2.0,1.0,1.0,NaN,0.0,0.0,0.000000,...,1.000000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN
1,2018,AC,1200013,2.0,2.0,1.0,NaN,0.0,0.0,0.333333,...,0.333333,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN
2,2018,AC,1200013,3.0,1.0,1.0,NaN,0.0,0.0,0.333333,...,1.000000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN
3,2018,AC,1200013,3.0,2.0,1.0,NaN,0.0,0.2,0.000000,...,0.400000,NaN,NaN,NaN,NaN,NaN,0.5,NaN,0.0,NaN
4,2018,AC,1200054,2.0,1.0,1.0,NaN,0.0,0.0,0.000000,...,1.000000,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN

In [18]:
enem.head()

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,...,Q006,Q007,Q008,Q009,Q010,Q012,Q019,Q022,Q024,Q025
0,2019,13,M,1,3,1,1,0,NaN,NaN,...,A,A,B,C,A,B,A,C,C,B
1,2019,8,M,1,1,1,1,0,NaN,NaN,...,C,A,B,C,A,B,B,E,A,B
2,2019,13,F,1,3,1,1,0,NaN,NaN,...,B,A,B,B,A,B,B,C,A,B
3,2019,10,F,1,1,1,1,0,NaN,NaN,...,E,A,C,C,A,B,C,D,B,B
4,2019,7,F,1,1,1,1,0,NaN,NaN,...,G,A,C,D,B,B,B,C,B,B

In [14]:
print('Nº Registros com município da escola faltante:', len(enem[enem['CO_MUNICIPIO_ESC'].isnull()]))
print('Nº Registros com município da escola presente:', len(enem[~enem['CO_MUNICIPIO_ESC'].isnull()]))

Nº Registros com município da escola faltante: 3947784
Nº Registros com município da escola presente: 1147387

In [35]:
persist = dd.merge(enem, censo, left_on=['NU_ANO','CO_MUNICIPIO_ESC','TP_DEPENDENCIA_ADM_ESC'], right_on=['NU_ANO_CENSO','CO_MUNICIPIO','TP_DEPENDENCIA'])

In [36]:
persist.head()

,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,...,IN_INTERNET,IN_INTERNET_APRENDIZAGEM,IN_INTERNET_ADMINISTRATIVO,IN_INTERNET_COMUNIDADE,IN_ACESSO_INTERNET_COMPUTADOR,IN_ACES_INTERNET_DISP_PESSOAIS,IN_BANDA_LARGA,IN_EXAME_SELECAO,QT_DOC_MED,TP_REDE_LOCAL
0,2019,11,F,1,2,2,2,0,3170206,Uberlândia,...,1.0,0.867647,1.0,0.014706,1.014706,0.529412,1.0,0.0,0.0,3.0
1,2019,11,F,1,2,2,2,0,3170206,Uberlândia,...,1.0,0.000000,1.0,0.000000,0.000000,0.000000,1.0,0.0,0.0,9.0
2,2019,2,M,1,1,2,2,0,3170206,Uberlândia,...,1.0,0.867647,1.0,0.014706,1.014706,0.529412,1.0,0.0,0.0,3.0
3,2019,2,M,1,1,2,2,0,3170206,Uberlândia,...,1.0,0.000000,1.0,0.000000,0.000000,0.000000,1.0,0.0,0.0,9.0
4,2019,2,F,1,1,2,2,0,3170206,Uberlândia,...,1.0,0.867647,1.0,0.014706,1.014706,0.529412,1.0,0.0,0.0,3.0

In [37]:
len(persist)

1633415