In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
tic = pd.read_csv('../../Dados/TIC/Domicilios/2019/ticdom_2019_domicilios_base_de_microdados_v1.1.csv', sep=';')

In [18]:
import numpy as np

In [3]:
tic.head()

,QUEST,ID_DOMICILIO,CLASSE_CB2015,CLASSE_CB2008,AREA,RENDA_FAMILIAR,TV,RADIO,BANHEIRO,AUTOMOVEL,...,RENDA_FAMILIAR_2,A1_AGREG,A1_EXCLUSIVOS,A2_A_FAIXA,A2_B_FAIXA,A2_C_FAIXA,A7_AGREG,A9_FAIXA,A5_NENHUM,A1A4
0,115431313,1,3,3,1,3,1,1,1,1,...,3,1,2,0,1,0,1,9,99,1
1,115431314,2,3,3,1,2,1,0,1,0,...,2,1,2,0,1,0,99,2,99,1
2,115431315,3,3,3,1,2,1,2,1,0,...,2,0,99,0,0,0,1,10,99,3
3,115431316,4,3,3,1,2,0,0,1,0,...,2,0,99,0,0,0,1,2,99,3
4,116724798,5,3,3,1,2,2,0,2,1,...,2,1,3,0,0,2,1,9,99,1

In [26]:
np.sort(tic[tic['COD_REGIAO_2']==2].ESTRATO.unique())

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80])